/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* .App {
  text-align: center;
  margin: 20px;
}

input[type="file"] {
  margin: 10px;
}

button {
  margin: 10px;
}

div {
  margin-top: 20px;
} */
